body {
    font-family: Arial, sans-serif;
    background-color: #adaaa7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form h2 {
    text-align:justify;
    color: #333;
    margin-bottom:20px;
    margin-left: 100px;
}
form div input{
    width: 380px;
}

form {
    align-self:auto;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

form label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

form input, form select, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

form input:focus, form select:focus, form button:focus {
    border-color: #5e17eb;
}

form button {
    background-color: #5e17eb;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #e08d55;
}

form button:active {
    transform: scale(0.98);
}

form .error {
    color: red;
    font-size: 12px;
}

form input[type="file"] {
    padding: 3px;
}

@media (max-width: 500px) {
    form {
        width: 90%;
        padding: 15px;
    }
}
