

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3efef;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgb(180, 81, 15);
     top: 0;
    z-index: 10;
}

.logo img {
    height: 50px; 
}

.user-controls a {
    margin-left: 15px;
    text-decoration: none;
    color: #af5010; 
}


.user {
    margin-right: 10px;
}


@media (max-width: 768px) {
    .search-bar {
        flex-direction: column; 
        margin: 0;
    }
    
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .hero-content {
        font-size: 16px;
        left: 10px; 
    }
}


.search-bar input {
    flex-grow: 1; 
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.search-bar select, .search-bar button {
    padding: 10px;
    margin-left: 10px; 
}


.hero {
    position: relative;
    max-width: 100%;
    height: 400px;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 400px;
    object-fit: cover; 
}           

.hero-content {
    position: absolute;
    top: 50%;
    left: 20px; 
    transform: translateY(-50%);
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.hero-content h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 18px;
    max-width: 400px;
    margin-bottom: 20px;
}

.book-slider {
    display: flex;
    gap: 10px;
}

.book-slider img {
    width: 75px;
    height: 100px;
    object-fit: cover;
}


.tabs {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #e28c53fd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tabs button {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.tabs button:hover {
    background-color: #c0805583;
}


.new-arrivals {
    padding: 20px;
    background-color: #fff;
}

.new-arrivals h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    gap: 178px;
}

.book-item {
    background-color: #f9f9f9;
    padding: 0px;
    text-align: center;
    border: 1px solid #ddd;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book-item:hover {
    transform: translateY(10px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.book-item img {
    width: 400px;
    height: 600px
    object-fit cover; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;    
}

.book-item p {
    font-size: 16px;
    margin: 10px 0;
}

.book-item span {
    font-size: 14px;
    color: #888;
}

