{% block content %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-9">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='account.css') }}">
  </head>
  <body >
    <div class="login-container">
      <div class="login-form">
        
          <h2>Create Account</h2>
          <form action="#" method="POST">
              <label for="username">Username :</label>
              <input type="text" id="username" name="username" placeholder="Enter your username" required>
              
              <label for="password">Password :</label>
              <input type="password" id="password" name="password" placeholder="Enter your password" required>

              <label for="password">Conform Password :</label>
              <input type="password" id="password" name="password" placeholder="Enter password again" required>

              <button type="submit">Create </button>
          </form>
          
      </div>
  </div>
</html>
{% endblock %}