<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>   
    <link rel="stylesheet" href="{{ url_for('static', filename='admindashbord.css') }}">
    <script src="{{ url_for('static', filename='js/admindashbord.js') }}" defer></script>

</head>
<body>
    <div class="sidebar">
        <h1>Librify Admin</h1>
        <a href="/dashboard" class="menu-item" id="dashboard">Dashboard</a>
        <a href="/books" class="menu-item" id="books">Books</a>
        <a href="/loggedin-users" class="menu-item" id="users">Logged-In Users</a>
        <a href="/logout" class="menu-item" id="logout">Logout</a>
    </div>
    

    <div class="main-content">
        <div class="header">
            <h2>Dashboard</h2>
            <div class="date">Today: <strong>December 2, 2024</strong></div>
        </div>

        <div class="cards">
            <div class="card">
                <h3>New Books Added</h3>
                <p></p>
            </div>
            <div class="card">
                <h3>Downloaded Books</h3>
                <p></p>
            </div>
            <div class="card">
                <h3>Available Books</h3>
                <p>5</p>
            </div>
        </div>

        <div class="notifications">
            <h3>Notifications</h3>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

        <div class="activity">
            <h3>Recent Activity</h3>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</body>
</html>

