<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ book.volumeInfo.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='book_details.css') }}">
</head>
<body>
    <div class="book-details">
        <div class="book-cover">
            <img src="{{ book.volumeInfo.imageLinks.thumbnail }}" alt="{{ book.volumeInfo.title }}">
        </div>
        
    </div>
</body>
</html>