{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Librify Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="login-container">
        <div class="login-form">
          <img src="{{ url_for('static', filename='image/123.png') }}" alt="logo">

            <h2>Login</h2>
            
            <!-- Display Flash Messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for category, message in messages %}
                            <div class="{{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            
            <!-- Form for Login -->
            <form action="{{ url_for('login') }}" method="POST">
                <label for="username">Email:</label>
                <input type="text" id="username" name="username" placeholder="Enter your email" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>

                <div class="forgot-password">
                    <a href="#">Forgot Password</a>
                </div>

                <button type="submit">Login</button>
            </form>
            <br>
            <p>Don't have an account? <a href="{{url_for('account')}}"><b>Create Account</b></a></p>
            <br>
            <div class="admin">
                
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}

